attrs==21.2.0
backcall==0.2.0
decorator==4.4.2
et-xmlfile==1.0.1
iniconfig==1.1.1
ipdb==0.13.7
ipython==7.22.0
ipython-genutils==0.2.0
jedi==0.18.0
openpyxl==3.0.7
packaging==20.9
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.18
ptyprocess==0.7.0
py==1.10.0
Pygments==2.8.1
pyparsing==2.4.7
pytest==6.2.4
toml==0.10.2
traitlets==5.0.5
wcwidth==0.2.5
